@font-face {
  font-family: "Plain Light";
  src: url(./fonts/vertopal.com_plain-regular-webfont.ttf);
}

@font-face {
  font-family: "Plain Light";
  src: url(./fonts/vertopal.com_plain-light-webfont.ttf);
}

@font-face {
  font-family: "silk serif";
  src: url(./fonts/vertopal.com_silkserif-regularitalic-webfont.ttf);
}

@font-face {
  font-family: "silk serif";
  src: url(./fonts/vertopal.com_silkserif-lightitalic-webfont.ttf);
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
  font-family: 'Plain Light';
}

html,body{
  width: 100%;
  height: 100%;
}

/* #0B0B0B */

.mousefollower{
 border: 2px solid white;
 background-color: rgb(255, 255, 255);
 scale: 2;
 mix-blend-mode: difference;
}

#loader{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: #000000;
  padding: 20vh 10vw;
}

.line h1{
  font-size: 13vh;
  text-transform: uppercase;

}
.line h2{
  font-size: 10vh;
  text-transform: uppercase;
  opacity: 0;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}

@keyframes anima {
  0%{
    font-family: 'Plain Light';
    -webkit-text-stroke: 1px white;
    color: #fff;
    opacity: 1;
  }

  47%{
    font-family: 'Plain Light';
    -webkit-text-stroke: 1px white;
    color: #fff;
    opacity: 0;
  }

  50%{
    font-family: 'silk serif';
    -webkit-text-stroke: 1px white;
    color: transparent;
    opacity: 1;
  }

  100%{
    font-family: 'silk serif';
    -webkit-text-stroke: 1px white;
    color: transparent;
    opacity: 0;
  }
}


#line1-part1{
  display: flex;
  align-items: start;
  justify-content: center;
  height: 7vw;
}

#line1-part1 h5,#line1-part1 h6{
  font-size: 3vw;
  font-family: silk serif;
  font-weight: 100;
  
}

#line1-part1 h5{
  width: 100px;
  text-align: right;
}


.line{
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

#main{
  position: relative;
  background-color: #151515;
}

#page1{
  background-color: #151515;
  width: 100%;
  height: 100vh;
  margin-bottom: 12vh;
}

#page1 #nav-part1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 5.5vw;
}

#nav-part2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.hero{
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  overflow-y: hidden;
  /* background-color: red; */
  display: flex;
  align-items: center;
  position: relative;
}

#nav-part2 h4{
  font-size: 0.9vw;
}
.hero:nth-child(2){
  margin-top: 10vh;
}


.hero h1{ 
  font-size: 7.2vw;
  line-height: 7.2vw;
  text-transform: uppercase;
  position: relative;
}



.hero h2{
  font-size: 7.2vw;
  line-height: 7.2vw;
  text-transform: uppercase;
  border-bottom: 8px solid white;
  padding-bottom: 1vw;
}
.hero h3{
  font-size: 7.2vw;
  line-height: 7.2vw;
  text-transform: uppercase;
}



.hero h2:hover{
  -webkit-text-stroke: 1px white;
  color: transparent;
  border-bottom: 8px solid rgba(255, 255, 255, 0);
  transition: all ease 0.4s;
}

#page2 {
  height: 100vh;
  width: 100%;
  padding-top: 17vh;
  position: relative;
}

#video-container {
  height: 66vh;
  width: 71vw;
  position: relative;
  left: 28%;
  background-color: red;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  background-size: cover;
  background-position: center;
}

#video-container video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}


#video-cursor {
  background-color: #FFA63D;
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
}

#video-cursor i {
  font-size: 2vw;
}


#page3 {
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(61, 61, 61); */
  position: relative;
  padding: 17vh 2vw;
  margin-bottom: 20vh;
  margin-top: 20vh;
}

#page3 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
  margin-left: 28vw;
  margin-top: 10vh;
}

#page3 h1::before {
  content: "02";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -12%;
  top: 8%;
}

#page3 .underline {
  width: 65%;
  height: 1.3px;
  background-color: white;
  margin-top: 5vw;
  margin-bottom: 4vw;
  margin-left: 30%;
}

#image-div-container {
  /* background-color: red; */
  padding: 1vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-div {
  height: 42vw;
  width: 31vw;
  position: relative;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 1vw;
  /* background-color: blue; */
}

.image-div:nth-child(1) {
  height: 29vw;
  width: 21vw;
}

.image-div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page3-circle1 {
  height: 23vw;
  width: 23vw;
  border: 2px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 23vh;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 10vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page3-circle1 svg {
  height: 30%;
}

.page3-circle2 {
  height: 23vw;
  width: 23vw;
  border: 2px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  /* margin-top: 23vh; */
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* margin-left: 10vw; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2vw;
  margin-right: 3vw;
}

.page3-circle2 svg {
  height: 30%;
  rotate: -45deg;
}

.circle-in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* display: ; */
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  scale: 0;
  border-radius: 50%;
}

.circle-in p {
  font-size: 0.95vw;
  color: #000;
  font-weight: 500;
  width: 60%;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 0;
}

.page3-circle1:hover .circle-in {
  scale: 1;
}

.page3-circle1:hover p {
  scale: 1;
  opacity: 1;
}

.page3-circle2:hover .circle-in {
  scale: 1;
}

.page3-circle2:hover p {
  scale: 1;
  opacity: 1;
}


#page4{
  min-height: 100vh;
  width: 100%;
  background-color:#151515;
  position: relative;
  
}

#page4-content{
  padding-top: 5vh;
  width: 72vw;
  margin-left: 28%;
  position: relative;

}

#page4-content h1{
  font-size: 7.5vw;
  text-transform: uppercase;
  position: relative;
  margin-top: 20vh;
}

#page4-content h1::before{
  content: "03";
  position: absolute;
  font-size: 3.4vw;
  font-family: 'silk serif';
  font-weight: 400;
  left: -15%;
  top: 8%;
}



#page4-content .underline{
  width: 90%;
  height: 1.3px;
  background-color: white;
  margin-top: 5vw;
  margin-bottom: 4vw;
}

#first-p{
  width: 50%;
  font-size: 2.22vw;
  margin-bottom: 3vw;
}

#page-4-flex{
  display: flex;
  align-items: start;
  flex-wrap: nowrap;
}

#page-4-flex img{
  width: 55%;
  margin-right: 2.5vw;
}

#second-p{
  width: 50%;
  margin-right: 25%;
}

#page-4-blue-div{
  width: 45%;
  height: 92vh;
  background-color: #3F7DF4;
  padding: 10vh 4vw;
  position: relative;
  margin-top: -20%;
  margin-left: 30%;
}

.blue-div-elem{
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  border-bottom: 1px solid white;
  margin-bottom: 5vh;
}

.blue-div-elem h4{
  font-size: 1.5vw;
  margin-bottom: 5vh;
  font-weight: 500;
}

.blue-div-elem p{
  margin-bottom: 1vh;
  font-size: 2vh;
  width: 35%;
}

#underline-page4{
  width: 90%;
  height: 1.3px;
  background-color: white;
  margin-top: 9vw;
  margin-bottom: 4vh;
}

#page5{
  padding-top: 10vh;
  min-height: 100vh;
  width: 100%;
  background-color: #151515;

}

.elem{
  /* background-color: red; */
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  
}

.elem h1{
  font-size: 7vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-weight: 400;
  display: inline-block;
  margin-right: 16px;
  animation: anime 18s linear infinite;
}

.elem2{
  /* background-color: red; */
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.elem2 h1{
  font-size: 7.5vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-weight: 400;
  display: inline-block;
  margin-right: 16px;
  transform: translateX(calc(-100% - 20px));
  animation: anime 18s infinite linear reverse;
  line-height: 11vh;
}

.elem span{
  font-family: 'silk serif';
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.elem2 span{
  font-family: 'silk serif';
  -webkit-text-stroke: 1px white;
  color: transparent;
}

@keyframes anime{
 0%{
  transform: translateX(0);
 }
 100%{
  transform: translateX(calc(-100% - 20px));
 }
}


#page5{
  min-height: 100vh;
  width: 100%;
  background-color:#151515;
  position: relative;
  margin-bottom: 10vh;
}

#page5-content{
  padding-top: 5vh;
  width: 72vw;
  margin-left: 28%;
  position: relative;

}
#underline-page5{
  width: 90%;
  height: 1.3px;
  background-color: white;
  margin-top: 5vw;
  margin-bottom: 4vh;
}

#page6{
  min-height: 100vh;
  width: 100%;
  background-color:#151515;
  position: relative;
  margin-bottom: 10vh;
}

#page-6-heading{
  display: flex;
  align-items: center;
  
}

#page-6-heading h1{
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
  
}

#page-6-heading h1::before{
  content: "04";
  position: absolute;
  font-size: 3.4vw;
  font-family: 'silk serif';
  font-weight: 400;
  left: -20%;
  top: 8%;
}

#page-6-heading i{
  font-size: 8vw;
  -webkit-text-stroke: 1px white;
  color: transparent;
} 

#page-6-subheading{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 13vh;
}

#page-6-subheading h6{
  font-size: 1vw;
  margin-bottom: 3vh;
}
#page-6-subheading h4{
  font-size: 1.7vw;
  font-weight: 500;
}

#end-p{
  padding-bottom: 5vh;
}

._canvas_container{
  z-index: 999999 !important;
  pointer-events: none;
}